<%# content_for :javascript_includes do %>
  <%#= javascript_include_tag "/assets/ckeditor/ckeditor" %>
<%# end %>

<%= simple_form_for [:admin, @download], wrapper: :horizontal_form,
                    wrapper_mappings: { check_boxes: :horizontal_collection,
                                        file: :horizontal_file } do |f| %>
  <%= f.error_notification %>
  <%= f.input :title %>
  <%= f.input :file, as: :file %>
  <div class="form-group row file optional input-note">
    <label class="col-sm-3 form-control-label file optional">&nbsp;</label>
    <div class="col-sm-9 input-note">please upload image with size 1280px x 500px (width x height)</div>
  </div>
  <div class="form-group row mb-0">
    <div class="col-sm-9 offset-sm-3">
      <%= f.button :submit, class: "btn-primary" %>
      <%= link_to "Cancel", admin_downloads_path(:page => params[:page]),
                  class: "btn btn-outline-secondary" %>
    </div>
  </div>
<% end %>
