<section class="admin-section-content">
  <div class="container">
    <div class="row">
      <div class="col-12 header-n-breadcrumb">
        <div class="row">
          <div class="col-12 col-md-6">
            <h2>DOWNLOAD</h2>
          </div>
          <div class="col-12 col-md-6 align-self-center">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
                <li class="breadcrumb-item active" aria-current="download">Downloads</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
      <div class="col-sm-12 admin-downloads">
        <%= render :partial => "shared/flash" %>
        <p><%= link_to "Add new download", new_admin_download_path, class: "btn btn-primary" %></p>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Title</th>
              <th>File</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <% @downloads.each_with_index do |download, x| %>
              <tr>
                <th scope="row"><%= @no+x+1 %></th>
                <td><%= download.title %></td>
                <td><%= download.file %></td>
                <td>
                  <%= link_to "Edit", edit_admin_download_path(download.id, :download => params[:download]), :class => "btn btn-success" %>
                  <%= link_to "Delete", admin_download_path(download.id, :download => params[:download] ), :method => :delete,
                                        data: {:confirm => "Are you sure?"}, :class => "btn btn-danger" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <div class="col-xs-12 pagination justify-content-center"><%= paginate @downloads %></div>
      </div>
    </div>
  </div>
</section>

