<section id="main-section" style='margin-top:0px'>
  <div class="row" style='margin-left:0px;margin-right:0px'>
    <div class="col-12 text-center" style='padding-left:0px;padding-right:0px'>
      <%= image_tag 'download-header.png', class: 'img-fluid' %>
    </div>
  </div>
</section>

<section class="main-section <%= manage_menu %>" style='padding-top:0px!important'>
  <div class="container">
    <div class="row">
      <div class="col-12 header-n-breadcrumb">
        <div class="row">
          <div class="col-12 col-md-6">
            <h2>DOWNLOADS</h2>
          </div>
          <div class="col-12 col-md-6 align-self-center">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><%= link_to "HOME", root_path %></li>
                <li class="breadcrumb-item active" aria-current="page">DOWNLOADS</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
      <div class="col-12 download-list">
        <div class="row mb-3">
          <% @downloads.each do |download| %>
            <%= link_to download.file.url, class: "col-12 col-md-5 download", target: "_blank" do %>
              <div class="icon">
                <%= image_tag "snowflake.png", class: "img-fluid" %>
                <%= download.title %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

