<!-- Modal -->
<div class="modal fade" id="edit-image-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle"><%= title.titleize %> Hotel Image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for hotel_image, url: url, html: {method: method.to_sym, multipart: true}, 
                          wrapper: :horizontal_form,
                          wrapper_mappings: { file: :horizontal_file } do |f| %>
        <div class="modal-body">
          <%= image_tag hotel_image.image.url(:thumb), class: "img-fluid" unless hotel_image.new_record? %>
          <%= f.input :image, as: :file %>
          <%= hidden_field_tag :merchant_klass, "object.merchant_klass" %>
          <div class="form-group row file optional hotel_hotel_images_image_note">
            <label class="col-sm-3 form-control-label file optional">&nbsp;</label>
            <div class="col-sm-9 img-note">Please upload image with size 1024px x 768px (height x width)</div>
          </div>
        </div>
        <div class="modal-footer">
          <%= link_to "Close", "javascript:void(0)", class: "btn btn-secondary", data: {dismiss: "modal"} %>
          <%= f.button :submit, class: "btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>